.App {
  /* text-align: center; */
  /* height: 2000px; */
  width: 100%;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffc09f;
  height: 280px;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}
.footer {
  background-color: "#a0ced9";
  font-size: 20px;
  color: "white";
  border-top: "1px solid #E7E7E7";
  text-align: "center";
  padding: 20px;
  position: "fixed";
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
}

phantom {
  display: "block";
  padding: 20px;
  height: 60px;
  width: "100%";
};

.App-footer-TOF {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

.App-footer-license {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  color: black;
  margin-top: -2;
}

.AboutUsButton {
  margin-left: 600px;
  margin-top: -50px;
  border: none;
  border-radius: 32px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  width: 130px;
  background-color: #ffee93;
}

.UserStoryContainer {
  height: 3000px;
  width: 100%;
}

.looking-for-a-doctor-container {
  background-color: #ffc09f;
  display: flex;
  height: 120vh;
  align-items: center;
  justify-content: center;
}

.looking-for-a-doctor-text-1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
}

.looking-for-a-doctor-text-2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  display: flex;
  font-size: 45px;
  align-items: center;
  justify-content: center;
}

.looking-for-a-doctor-image {
  padding-left: 60px;
}

.looking-for-a-doctor-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chooser {
  border: none;
  border-radius: 32px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 3px;
  width: 330px;
  background-color: #ffee93;
  margin-left: 800px;
}

.in-pain-container {
  display: flex;
  background-color: #b892ff;
  height: 100%;
  justify-content: center;
}

.girl-image {
  /* padding-left: 5px; */
  margin-top: 230px;
  height: 450px;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
}

.padded-multiline { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  line-height: 1.3; 
  padding: 2px 0; 
  border-left: 20px solid #c0c;
  width: 400px;
  margin: 20px auto;
}
.padded-multiline h3 { 
  background-color: #c0c;
  padding: 4px 0;
  color: #fff; 
  display: inline;
  margin: 0; 
}
.padded-multiline h3 strong { 
  position: relative;
  left: -10px; 
}

.read-our-reviews-container {
  display: "flex";
  height: 100%;
  background-color: #adf7b6;
  align-items: center;
  justify-content: center;
}

.dentist-image {
  /* padding-left: 5px; */
  margin-top: 230px;
  height: 550px;
  align-items: center;
  justify-content: center;
  padding-top: 750px;
  padding-left: 610px;
}

.leave-your-review-container {
  background-color: #ffc09f;
  display: flex;
  /* margin-top: 550px; */
  height: 100%;
  align-items: center;
  justify-content: center;
}

.leave-review {
  padding-top: 1300px;
}

.padded-multiline2 { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  line-height: 1.3; 
  padding: 2px 0; 
  border-left: 20px solid #c0c;
  width: 400px;
  margin: 20px auto;
}
.padded-multiline2 h3 { 
  background-color: #c0c;
  padding: 4px 0;
  color: #fff; 
  display: inline;
  margin: 0;
}
.padded-multiline2 h3 strong { 
  position: relative;
  left: -10px; 
}

.medical-specialty-chooser-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 10px;
}

.list-doctors {
  padding-top: 60px;
  background: #ffc09f;
  height: 900px; /* 100% */
}

.doctor-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* margin-top: 250px; */
}
.doctor-list-item {
  padding: 20px;
  background: white;
  display: flex;
  background-color: #a0ced9;
}

@media (min-width: 600px) {
  .doctor-list-item {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }
}

.doctor-avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.doctor-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.doctor-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.doctor-average-rating {
  padding-left: 40px;
  flex: 1
}

.doctor-message {
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url('./img/icons/message.svg');
  background-size: 100% 100%;
  border: 0;
  color: black;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.body {
  font-family: 'PT Sans', sans-serif;
  padding: 2rem;
}
.button {
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em;
  display: inline-block;
  text-decoration: none;}
  
  .button .hover {
    cursor: pointer;
  }
  .button .focus {
    text-decoration: none;
    outline: none;
  }

.comment-box {
  max-width: 37.5rem;
  color: #fff;
  background-color: #61a5c2;
  border-radius: 0.875rem;
  padding: 0.2rem 1rem 2rem;
}
.comment-form {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem;  
}
.comment-form-fields {
  margin-bottom: 0.25rem;}
  .comment-form-fields input, textarea {
    border: none;
    border-bottom: 1px solid #404040;
    font-size: 0.85rem;
    padding: 0.25rem 0;
    width: 99%;}
    
    .comment-form-fields .focus {
      border-bottom-color: #00BDFC;
      outline: none;
    }

    .comment-form-fields .textarea {
    font-style: italic;
  }

.comment-form-actions {
  
}
.comment-count {
  color: #404040;
}
#comment-reveal {
  float: right;
  background-color: #00BDFC;
  color: #fff;
}
.comment {
  border-top: 0.125rem solid #404040;
}
.comment-body {
  font-style: italic;
  margin-left: 1rem;
}
.comment-footer {
  margin-bottom: 1rem;
}
.comment-footer-delete {
  padding: 0.2rem 0;
  color: #404040;
  text-decoration: none;}
  
.comment-footer-delete .hover {
    color: #00BDFC;
    font: bold;
  }

.book-appointment-button {
  border: none;
  border-radius: 32px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  width: 150 px;
  background-color: #ffee93;
  margin-bottom: 20px;
}